/* 8936477 - 03/28/2022 - Jon B */
/*@media (max-width: 699px) {
body:not(.fsComposeMode).home .hp--image--boxes>.fsElementContent {
flex-flow: column;
}

	body:not(.fsComposeMode).home .hp--image--boxes .fsContent {
		width: 330px;
		height: 280px;
	}
}

@media (max-width: 499px) {
	body:not(.fsComposeMode).home .hp--image--boxes .fsContent {
		width: 100%;
		height: 200px;
	}
}

@media (max-width: 399px) {
	body:not(.fsComposeMode).home .hp--image--boxes .fsContent {
		height: 150px;
	}
}*/

body:not(.fsComposeMode).home.no-zoom .hp--image--boxes .fsContent .fsElementHeaderContent {
animation: none;
}